# List and List Manipulations

In [1]:
my_list = ['john','adam','mark']
# my_list = [1, 'john', 3.2, 1+2j]

Indexing in list

In [2]:
my_list[1]

'adam'

In [3]:
my_list[0]

'john'

Changing List

In [4]:
my_list[1] = 'eve'
my_list

['john', 'eve', 'mark']

List can have duplicates

In [5]:
names = ['talha','afaq','ibrahim','faizy','Ahsan','Ahsan']
names

['talha', 'afaq', 'ibrahim', 'faizy', 'Ahsan', 'Ahsan']

Length of List

In [7]:
len(names)

6

last item index will be one less than the length of the list

In [37]:
for name in names:
    print(name)

talha
afaq
ibrahim
faizy
Ahsan
Ahsan

In [15]:
for index in range(1,len(names)+1):
    print(index)
    print(names[index-1])

1
talha
2
afaq
3
ibrahim
4
faizy
5
Ahsan
6
Ahsan

In [16]:
type(names)

list

In [17]:
numbers = list((1,2,3))
empty_list = list()

In [18]:
numbers

[1, 2, 3]

In [19]:
empty_list

[]

slicing in list - lower limit will be inclusive while upper limit will be exclusive

In [20]:
my_list = [1, 'john', 3.2, 1+2j]
my_list[0:2]

[1, 'john']

In [21]:
my_list[1:3]

['john', 3.2]

In [25]:
my_list[1:5]

['john', 3.2, (1+2j)]

In [29]:
my_list[2:]

[3.2, (1+2j)]

In [27]:
my_list[:3]

[1, 'john', 3.2]

In [28]:
my_list[:] or my_list

[1, 'john', 3.2, (1+2j)]

Negative Indexing or reverse indexing

In [30]:
my_list = [1, 'john', 3.2, 1+2j]

my_list [-lower limit : -upper limit ]

In [31]:
my_list [-3:-1]

['john', 3.2]

In [32]:
my_list [1:-1]

['john', 3.2]

In [33]:
my_list[-4:3]

[1, 'john', 3.2]

In [34]:
[my_list[0],my_list[2]]

[1, 3.2]

In [35]:
my_list[1:]

['john', 3.2, (1+2j)]

In [36]:
my_list[-1]

(1+2j)

# Functions

definition of a function

In [38]:
def functionname():
    print('this is my function')

calling a function

In [39]:
functionname()

this is my function

passing arguments to the function

In [41]:
def add(a,b):
    c= a+b
    print('Sum of a and b is '+str(c))

add(1,2)

Sum of a and b is 3

In [ ]:
def add(a,b,c,d,e,f,g,h,i,j................................)

In [45]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [43]:
add(b=1)

TypeError: add() missing 1 required positional argument: 'a'

In [44]:
add(b=1,2)

SyntaxError: positional argument follows keyword argument (568216527.py, line 1)

In [61]:
add(2,b=1)

3

you cannot pass a postional argument after keyword argument
you always have to pass the positional argument first and keyword arguments after it

In [46]:
add(b=1,a=2)

Sum of a and b is 3

In [ ]:
Arbitrary Arguments

In [49]:
#a= args[0]
#b= args[1]
#c= args[2]
#d= args[3]


def func(*args):
    if args[2]==1:
        result=args[0]+args[1]
    else:
        result=args[0]+args[3]
    print(result)

func(1,2,1)

3

In [51]:
def student(name,clas,gpa):
    print(name,clas,gpa)

student(clas='3rd',name='john',gpa=3.56)

john 3rd 3.56

In [53]:
# arbitrary keyword argument

def func(**args):
    print(args['name'],args['clas'],args['gpa'])

func(clas='3rd',name='john',gpa=3.56)

john 3rd 3.56

In [55]:
def func(name='john'):
    print('my name is '+name)
    
    
func()

my name is john

In [56]:
func('adam')

my name is adam

In [60]:
# returning a value from function

def add(a,b):
    c=a+b
    return c
    
result=add(1,2)
print('Sum of a and b is '+str(result))

Sum of a and b is 3

In [62]:
add(1,2)

3