# Strings

single line string

In [1]:
'Hello world ,Its my first string in python'

'Hello'

In [2]:
"Hello"

'Hello'

Multi line string

In [3]:
"""Hello world
its my first string
in python"""

'''Hello world
its my first string
in python'''

'Hello world\nits my first string\nin python'

In [5]:
mystr='hello world'
mystr[0]

'h'

Looping on string

In [6]:
mystr='hello world'
for char in mystr:
    print(char)

h
e
l
l
o

w
o
r
l
d

length of a string

In [8]:
mystr='hey this is a string , we are testing len() function'
len(mystr)

52

Checking data in a string

In [12]:
mystr= 'his name is ahmad , he is a good boy , he is class fellow of ali'
# print('ahmad' in mystr)
'Ahmad' in mystr

False

In [13]:
mystr= 'his name is ahmad , he is a good boy , he is class fellow of ali'

if 'Ahmad' not in mystr:
    print('Ahmad is not in the text')

Ahmad is not in the text

slicing in string

In [14]:
mystr = 'Hello World'

# mystr[lower limit (inclusive) : upper limit (exclusive)]

mystr[0:5]

'Hello'

In [15]:
mystr[3:]

'lo World'

In [16]:
mystr[5:-2]

' Wor'

Modifying Strings

In [17]:
mystr = 'Hamza is a good boy'

mystr.upper()

'HAMZA IS A GOOD BOY'

In [18]:
mystr.lower()

'hamza is a good boy'

In [19]:
mystr.title()

'Hamza Is A Good Boy'

In [20]:
mystr = '  Hamza is a good boy      '
mystr.strip()

'Hamza is a good boy'

In [21]:
mystr.rstrip()

'  Hamza is a good boy'

In [22]:
mystr.lstrip()

'Hamza is a good boy      '

In [23]:
mystr='phyiscs,maths,english,bio'

mystr.split(',')

['phyiscs', 'maths', 'english', 'bio']

In [42]:
mystr='phyiscs+maths-english-bio'

mystr.split('+')

['phyiscs', 'maths-english-bio']

In [24]:
mystr.split('s')

['phyi', 'c', ',math', ',engli', 'h,bio']

In [25]:
mystr = """Hello my name is chatur , i am a studios guy,i am doing engineering 
, engineering was my passion , my cgpa is 3.9 """

mystr.replace('engineering','chai wala')

'Hello my name is chatur , i am a studios guy,i am doing chai wala \n, chai wala was my passion , my cgpa is 3.9 '

In [26]:
mystr.replace('a','b')

'Hello my nbme is chbtur , i bm b studios guy,i bm doing engineering \n, engineering wbs my pbssion , my cgpb is 3.9 '

In [45]:
mystr='my   name    is john'
mystr.replace('  ','')

'my name  is john'

Concatenation ( addition )

In [30]:
a='Hello'
space=' '
b='World'

c=a+space+b
print(c)

Hello World

In [31]:
roll_number=123
print('The data for roll_number'+str(roll_number)+' is not found')

The data for roll_number123 is not found

String formatting

In [32]:
roll_number=123
print('The data for roll_number {} is not found'.format(roll_number))

The data for roll_number 123 is not found

In [40]:
roll_number=123.265635348
print('The data for roll_number {:.1f} is not found'.format(roll_number))

The data for roll_number 123.3 is not found

In [38]:
roll_number=123.265635348
print('The data for roll_number {:<20} is not found'.format(roll_number))

The data for roll_number 123.265635348        is not found

In [39]:
roll_number=123.265635348
print('The data for roll_number {:>20} is not found'.format(roll_number))

The data for roll_number        123.265635348 is not found